$boja1:#f5f5f5;
$boja2: rgba(26,122,18,0.8);
$boja3:  rgb(26,122,18);
$boja4:#704214;
$boja5: rgb(26, 102, 20);
$sirina100:100%;

@mixin boja1Sirina100{
    background-color: $boja1;
    width: $sirina100;
}

@mixin tabovi{
    width: 25%;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px 1fr 100px;
}

@mixin slikaPrekoCSSa{

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
}

@mixin bojaPrekoSlike{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: grid;
    text-align: center;
}


@mixin forma1{
        width: 60%;
        font-size: 30px;
        padding: 5px;
        border-radius: 15px;
}



@font-face {
    font-family:mojFont;
    src: url("../font/Asap_Condensed-Thin.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: mojFont;
    header{

        @include boja1Sirina100();
        height: 100px;
        display: grid;
        grid-template-columns:180px 150px 100px 1fr 800px 100px ;
        grid-template-rows: 10px 80px 10px ;

        #ikonica{
            grid-area: 1/2/3/3;
            padding-top: 15px;
            padding-left: 25px;

            img{
                width: 60%;
                height: 90%;
            }
        }

        nav{
            grid-area:2/5/3/6 ;

            ul{
                padding-top: 25px;

                li{
                    display: inline;
                    margin-right: 50px;
                    margin-left: 30px;

                    a{
                        text-decoration: none;
                        font-size: 28px;
                        color:$boja2 ;
                        font-weight: 900; 

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    #pozadina{
        width: $sirina100;
        height: 800px;
        background-image: url("../slike/pozadina.jpeg");
        @include slikaPrekoCSSa();

        #bela{
            @include bojaPrekoSlike();
            grid-template-columns: 200px 1fr 200px;
            grid-template-rows: 40% 100px 20px 100px 20px  1fr 20px;
            
            h1{
                grid-area: 2/2/3/3 ;
                font-size: 85px;
                color:$boja4;
                word-spacing: 18px;

            }

            h2{
                grid-area: 4/2/5/3 ;
                font-size: 75px;
                color: $boja4;
                letter-spacing: 2px;
                word-spacing: 18px;
            }

            #dvaDugmeta{
                grid-area:6/2/7/3;

                .btn{
                    padding: 20px 15px;
                    margin: 50px 5px 0px 5px;
                    background-color: $boja2;
                    border: 2px solid  $boja1;
                    border-radius: 10px;
                    font-size: 25px;
                    color:$boja1;
                     
                    &:hover{
                        background-color: $boja1;
                        border: 2px solid $boja2;
                        color: $boja2 ;
                    }
                
                }
            }
        }
    }

    .razmak{
        @include boja1Sirina100();
        height: 100px;
       #RnaslovA{
            display: none;
       }
       
    }

    .razmak2{
        @include boja1Sirina100();
        height: 20px;
    }

    #zeleno{
        background-color: $boja2 !important;
        text-align: center;
        padding-top: 25px;

        h3{
            color: $boja1;
            font-size: 50px
        }

    }




    //************* O MENIIIIIIIIIIIIII ******************
    #aboutMe{
        @include boja1Sirina100();
        height: 600px;
        display: flex;
        justify-content: center;

        #tab1{
            @include tabovi();

            table{
                grid-area: 2/2/3/3;
                p{
                    font-size: 35px;
                    color:$boja2;
                }

                h4{
                    font-size: 38px;
                    color: $boja5;
                }

                .donji{
                    padding-bottom: 20px;
                }
            }
        }

        #tab2{
            @include tabovi();

            table{
                grid-area: 2/2/3/3;

                p{
                    font-size: 35px;
                    color:$boja2;
                }

                h4{
                    font-size: 38px;
                    color: $boja5;
                }


                .donji{
                    padding-bottom: 20px;
                }
            }
        }


        #tab3{
            display: none;
        }

      

        #slikaA{
            width: 30%;
            display: grid;
            grid-template-columns: 50px 1fr 50px;
            grid-template-rows: 100px 1fr 100px;

            #naslovA{
                grid-area: 1/2/2/3;
                text-align: center;
                font-size: 25px;
                color: $boja2;
            }

           #autorA{
            grid-area: 2/2/3/3 ;
            background-image: url("../slike/Autor.jpg");
            @include slikaPrekoCSSa();
            border-radius: 15px;
           }
            
        }

        
    }

    #skills{
        width: $sirina100;
        height: 600px;
        background-image: url("../slike/pozadina2.jpg");
        @include slikaPrekoCSSa();

        #bela2{
            @include bojaPrekoSlike();
            grid-template-rows: 50px 50px 20px 1fr 50px;
            grid-template-columns: 1fr;
           
            #naslovS{
                grid-area: 2/1/3/2;

                h3{
                    font-size: 50px;
                    color: $boja4; 
                }
            }

            #info{
                grid-area: 4/1/5/2;
                display: flex;
                justify-content: space-around;

                .infoCard{
                    width: 20%;
                    height: 100%;
                    
                    .fa-solid{
                        margin-top: 40px;
                        font-size: 100px;
                        color: $boja4;
                    }

                    .fa-brands{
                        margin-top: 40px;
                        font-size: 100px;
                        color: $boja4;
                    }

                    h2{
                        margin-top: 30px;
                        font-size: 40px;
                        font-weight: 800;
                        letter-spacing: 2px;
                    }

                    p{
                        font-size: 30px;
                        margin-top: 20px;
                        font-weight: 800;
                        letter-spacing: 1.5px;
                        word-spacing: 5px;
                    }

                }
            }

        }
    }


    #projects{
        @include boja1Sirina100();
        height: 700px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px 1fr 50px;

    
        #naslovP{
            grid-area: 1/1/2/2;

            h3{
                font-size:50px;
                color:$boja3;

            }

        }

        #project{
            grid-area: 3/1/4/2;
            display: flex;
            justify-content: space-evenly;

            p{
                font-size: 45px;
                color: $boja2;
                margin-top: 15px;
                margin-bottom: 50px;
                font-weight: 900;
            }

            .proj{
                width: 30%;
                height: 100%;

                .slikaP{
                    width: $sirina100;
                    height: 70%;
                    border-radius: 20px;

                    img{
                        width: 98%;
                        height: 100%;
                        border-radius: 20px;
                        border: 2px solid $boja4;
                    }

                }
            }
        }

    }


    footer{
        width: $sirina100;
        height: 550px;
        background-color:$boja2 ;
        display: flex;
        justify-content: space-evenly;

        #forma{
            width: 45%;
            height: 90%;
            text-align: center;
            margin-top: 25px;
            color: $boja1;
            
            #f1{
                margin-top: 20px;

                input[type=text]{
                    @include forma1();
                    margin-bottom: 5px;
                }

                input[type=email]{
                    @include forma1();
                    margin-bottom: 5px;
                }

                textarea{
                    width: 60%;
                    padding: 5px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    font-size: 20px;
                   
                }

                input[type=submit]{
                    @include forma1();
                    margin-bottom: 10px;
                    color: $boja5;
                    border: none;
                    &:hover{
                       background-color: $boja5;
                       color: $boja1;
                       border: 2px solid $boja1;
                    }
                }

                label{
                    font-size: 30px;
                }
            }
        }

        #informacije{
            width: 45%;
            height: 90%;
            margin-top: 25px;
            text-align: center;
            color: $boja1;

            h3{
                font-size: 35px;
                margin-top: 12px;
            }

            p{
                font-size: 30px;
            }

            ul{
                li{
                    display: inline;

                    a{
                        text-decoration: none;
                        font-size: 50px;
                        margin:0px 10px;
                        color: $boja1;


                        &:hover{
                            color: $boja5;
                        }

                    }
                }
            }
        }
    }
}






@media screen and (max-width: 1601px){

    body{
        footer{
            #forma{
                
                #f1{
                    
    
                    input[type=text]{
                        width: 80%;
                    }
    
                    input[type=email]{
                        width: 80%;
                    }
    
                    textarea{
                        width: 80%;
                       
                    }
    
                    input[type=submit]{
                        width: 80%;
                    }
    
                   
                }
            }
        }


        header{
 
            grid-template-columns:180px 150px 100px 1fr 800px 50px ;
      
    
        }
    }
}


@media screen and (max-width: 1441px){


body{

    #pozadina{
       

        #bela{
           
            grid-template-rows: 35% 120px 20px 120px 20px  1fr 20px;
            
        }
    }


    #aboutMe{
       

        #tab1{
            width: 30%;
        }

        #tab2{
            width: 30%;
        }

        #slikaA{
            width: 35%;
            
        }
    }

    
}

}


@media screen and (max-width: 1281px){
    
body{
        header{
    
            grid-template-columns:50px 150px 100px 1fr 800px 0px ;
    

        }

        #pozadina{
                #bela{

                    h1{
                        font-size: 75px;
                    }

                    h2{
                        font-size: 65px;
                    }
                }
                

           
        }


        #skills{
           
            #bela2{
               
    
                #info{
                   
                    .infoCard{
                       
                        .fa-solid{
                            margin-top: 35px;
                            font-size: 95px;
                        }
    
                        .fa-brands{
                            margin-top: 35px;
                            font-size: 95px;
                           
                        }
    
                        h2{
                            
                            font-size: 35px;
                           
                        }
    
                        p{
                            font-size: 27px;
                           
                        }
    
                    }
                }
    
            }
        }
    


        
    }
    
   
}




@media screen and (max-width: 1025px){

    body{

        header{
            grid-template-columns:30px 150px 100px 1fr 600px 0px;
            nav{
                
    
                ul{
    
                    li{
                        margin-right: 50px;
                        margin-left: 10px;
    
                        a{
                         
                            font-size: 25px;
                          
                        }
                    }
                }
            }
    
        }


        #pozadina{
       

            #bela{
               
                grid-template-rows: 30% 120px 20px 120px 20px  1fr 20px;
                
            }
        }


        #aboutMe{
            justify-content: space-around;
           
            #tab1{
                display: none;
            }
    
            #tab2{
                display: none;
            }


            #tab3{
                display: block;
                width: 45%;
                height: 100%;
                    
                table{
                    margin-top: 30%;
                    tr{
                        th{
                            width: 50%;
                        }
                    }
                }
        
                    p{
                        font-size: 35px;
                        color:$boja2;
                    }
    
                    h4{
                        font-size: 38px;
                        color:$boja5;
                    }
    
                    .donji{
                        padding-bottom: 20px;
                    }
                }
            

                #slikaA{

                    grid-template-columns: 20px 1fr 20px;
                    grid-template-rows: 50px 1fr 50px;
                    #naslovA{
                        display: none;
                    }
                }
            }
    


            
               
        

        .razmak{
           
           #RnaslovA{
                display: block;
                text-align: center;
                padding-top: 20px;
                h3{
                    font-size: 50px ;
                    color: $boja2;
                }
           }
           
        }


        #projects{
            
            height: 1200px;
            text-align: center;
            grid-template-rows: 50px 30px 1fr 50px;
    

    
            #project{
                grid-area: 3/1/4/2;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
    
                
    
                .proj{
                    width: 45%;
                    height: 45%;
                   
    
                    .slikaP{
                        width: $sirina100;
                        height: 70%;
                        border-radius: 20px;
    
                        img{
                            width: 98%;
                            height: 100%;
                            border-radius: 20px;
                            border: 2px solid $boja4;
                        }
    
                    }
                }
            }
    
        }
    
        footer{
            #informacije{
                #footNav{
                    .fejs{
                        display: none;
                    }
                }
            }
        }

    }

    
}


@media screen and (max-width: 811px){

    body{
        header{

            grid-template-columns:30px 150px 100px 1fr 450px 0px;
            nav{
                
    
                ul{
    
                    li{
                        margin-right: 25px;
                        margin-left: 10px;
    
                        a{
                         
                            font-size: 22px;
                          
                        }
                    }
                }
            }
    
        }


        #pozadina{
    
            #bela{
            
                grid-template-rows: 20% 120px 20px 120px 50px  1fr 20px;
                
                h1{
                    
                    font-size: 60px;
                  
    
                }
    
                h2{

                    font-size: 52px;
                  
                }
    
            }
        }

        #aboutMe{
        
            #slikaA{
                width: 48%;
                grid-template-columns:  1fr;
                grid-template-rows: 50px 1fr 50px;

                #autorA{
                    grid-area: 2/1/3/2 ;
                    background-image: url("../slike/Autor.jpg");
                    @include slikaPrekoCSSa();
                    border-radius: 15px;
                   }
                
            }
        }

        #skills{
            height: 800px;
            #bela2{

                #info{
                    flex-wrap: wrap;
                    .infoCard{
                        width: 45%;
                        height: 45%;
                        .fa-solid{
                            font-size: 65px;
                        }
                        h2{
                            font-size: 30px;
                        }

                        p{
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        #projects{

            height: 1800px;

            #project{
                
                .proj{
                    width: 90%;
                    height: 32%;
                }
            }
        }

        footer{
            flex-wrap: wrap;
            height: 1100px;
    
            #forma{
                width: 90%;
                height: 45%;
            }
    
            #informacije{
                width: 90%;
                height: 45%;
            }
        }
    }
}


@media screen and (max-width: 410px){

    body{
        header{
            height: 400px;
            grid-template-columns: 5px 30% 1fr 30% 5px;
            grid-template-rows: 10px 20% 10px 1fr 10px;

            #ikonica{
                grid-area: 2/3/3/4 ;
                padding: 10px 0px 10px 45px  ;
            }

            nav{
                grid-area: 4/3/5/4 ;
                
                ul{
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    height: 80%;

                    li{
                        width: 98%;
                        height: 24%;

                        a{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        #pozadina{
    
                height: 700px;
            #bela{
            
                grid-template-rows: 80px 120px 20px 120px 50px  1fr 20px;
                grid-template-columns: 50px 1fr 50px;
                
                h1{
                    
                    font-size: 50px;
                  
    
                }
    
                h2{

                    font-size: 37px;
                  
                }
    
            }
        }

        #aboutMe{
            height: 650px;
            flex-wrap: wrap;

            #slikaA{
                width: 90%;
                height: 48%;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                
                #autorA{
                    grid-area: 1/1/2/2;
                }

            }

            #tab3{
                width: 90%;
                height: 48%;

                table{
                    margin-top: 8%;

                    tbody{
                        tr{
                            th{
                                h3{
                                    font-size: 28px;
                                }

                                p{
                                    font-size: 30px;
                                }
                            }
                        
                        }

                       
                    }
                }
            }
        }

        #skills{
            height: 1500px;
            #bela2{

                #info{
                    flex-wrap: wrap;
                    .infoCard{
                        width: 90%;
                        height: 24%;
                        .fa-solid{
                            font-size: 65px;
                        }
                        h2{
                            font-size: 30px;
                        }

                        p{
                            font-size: 25px;
                        }
                    }
                }
            }
        }

    }
}


@media screen and (max-width: 374px){
    body{
        header{
            height: 400px;
            grid-template-columns: 5px 20% 1fr 20% 5px;
            grid-template-rows: 10px 20% 10px 1fr 10px;

            #ikonica{
                grid-area: 2/3/3/4 ;
                padding: 2px 0px 2px 64px  ;
            }

            nav{
                grid-area: 4/3/5/4 ;
                
                ul{
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    height: 80%;

                    li{
                        width: 98%;
                        height: 24%;

                        a{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        footer{
           
            #informacije{
                margin-top:0px;
                #email{
                    font-size: 25px;
                }
            }
        }
    }

}


@media screen and (max-width: 359px){

}
