@font-face {
  font-family: mojFont;
  src: url("../font/Asap_Condensed-Thin.ttf");
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: mojFont;
}
body header {
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 180px 150px 100px 1fr 800px 100px;
  grid-template-rows: 10px 80px 10px;
}
body header #ikonica {
  grid-area: 1/2/3/3;
  padding-top: 15px;
  padding-left: 25px;
}
body header #ikonica img {
  width: 60%;
  height: 90%;
}
body header nav {
  grid-area: 2/5/3/6;
}
body header nav ul {
  padding-top: 25px;
}
body header nav ul li {
  display: inline;
  margin-right: 50px;
  margin-left: 30px;
}
body header nav ul li a {
  text-decoration: none;
  font-size: 28px;
  color: rgba(26, 122, 18, 0.8);
  font-weight: 900;
}
body header nav ul li a:hover {
  text-decoration: underline;
}
body #pozadina {
  width: 100%;
  height: 800px;
  background-image: url("../slike/pozadina.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
body #pozadina #bela {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  text-align: center;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 40% 100px 20px 100px 20px 1fr 20px;
}
body #pozadina #bela h1 {
  grid-area: 2/2/3/3;
  font-size: 85px;
  color: #704214;
  word-spacing: 18px;
}
body #pozadina #bela h2 {
  grid-area: 4/2/5/3;
  font-size: 75px;
  color: #704214;
  letter-spacing: 2px;
  word-spacing: 18px;
}
body #pozadina #bela #dvaDugmeta {
  grid-area: 6/2/7/3;
}
body #pozadina #bela #dvaDugmeta .btn {
  padding: 20px 15px;
  margin: 50px 5px 0px 5px;
  background-color: rgba(26, 122, 18, 0.8);
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  font-size: 25px;
  color: #f5f5f5;
}
body #pozadina #bela #dvaDugmeta .btn:hover {
  background-color: #f5f5f5;
  border: 2px solid rgba(26, 122, 18, 0.8);
  color: rgba(26, 122, 18, 0.8);
}
body .razmak {
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
}
body .razmak #RnaslovA {
  display: none;
}
body .razmak2 {
  background-color: #f5f5f5;
  width: 100%;
  height: 20px;
}
body #zeleno {
  background-color: rgba(26, 122, 18, 0.8) !important;
  text-align: center;
  padding-top: 25px;
}
body #zeleno h1 {
  color: #f5f5f5;
  font-size: 50px;
}
body #aboutMe {
  background-color: #f5f5f5;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
body #aboutMe #tab1 {
  width: 25%;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 100px 1fr 100px;
}
body #aboutMe #tab1 table {
  grid-area: 2/2/3/3;
}
body #aboutMe #tab1 table p {
  font-size: 35px;
  color: rgba(26, 122, 18, 0.8);
}
body #aboutMe #tab1 table h2 {
  font-size: 38px;
  color: rgb(26, 102, 20);
}
body #aboutMe #tab1 table .donji {
  padding-bottom: 20px;
}
body #aboutMe #tab2 {
  width: 25%;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 100px 1fr 100px;
}
body #aboutMe #tab2 table {
  grid-area: 2/2/3/3;
}
body #aboutMe #tab2 table p {
  font-size: 35px;
  color: rgba(26, 122, 18, 0.8);
}
body #aboutMe #tab2 table h2 {
  font-size: 38px;
  color: rgb(26, 102, 20);
}
body #aboutMe #tab2 table .donji {
  padding-bottom: 20px;
}
body #aboutMe #tab3 {
  display: none;
}
body #aboutMe #slikaA {
  width: 30%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 100px 1fr 100px;
}
body #aboutMe #slikaA #naslovA {
  grid-area: 1/2/2/3;
  text-align: center;
  font-size: 25px;
  color: rgba(26, 122, 18, 0.8);
}
body #aboutMe #slikaA #autorA {
  grid-area: 2/2/3/3;
  background-image: url("../slike/Autor.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 15px;
}
body #skills {
  width: 100%;
  height: 600px;
  background-image: url("../slike/pozadina2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
body #skills #bela2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  text-align: center;
  grid-template-rows: 50px 50px 20px 1fr 50px;
  grid-template-columns: 1fr;
}
body #skills #bela2 #naslovS {
  grid-area: 2/1/3/2;
}
body #skills #bela2 #naslovS h1 {
  font-size: 50px;
  color: #704214;
}
body #skills #bela2 #info {
  grid-area: 4/1/5/2;
  display: flex;
  justify-content: space-around;
}
body #skills #bela2 #info .infoCard {
  width: 20%;
  height: 100%;
}
body #skills #bela2 #info .infoCard .fa-solid {
  margin-top: 40px;
  font-size: 100px;
  color: #704214;
}
body #skills #bela2 #info .infoCard .fa-brands {
  margin-top: 40px;
  font-size: 100px;
  color: #704214;
}
body #skills #bela2 #info .infoCard h2 {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
}
body #skills #bela2 #info .infoCard p {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 800;
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
body #projects {
  background-color: #f5f5f5;
  width: 100%;
  height: 700px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 30px 1fr 50px;
}
body #projects #naslovP {
  grid-area: 1/1/2/2;
}
body #projects #naslovP h1 {
  font-size: 50px;
  color: rgb(26, 122, 18);
}
body #projects #project {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: space-evenly;
}
body #projects #project h2 {
  font-size: 45px;
  color: rgba(26, 122, 18, 0.8);
  margin-top: 15px;
  margin-bottom: 50px;
}
body #projects #project .proj {
  width: 30%;
  height: 100%;
}
body #projects #project .proj .slikaP {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
body #projects #project .proj .slikaP img {
  width: 98%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #704214;
}
body footer {
  width: 100%;
  height: 550px;
  background-color: rgba(26, 122, 18, 0.8);
  display: flex;
  justify-content: space-evenly;
}
body footer #forma {
  width: 45%;
  height: 90%;
  text-align: center;
  margin-top: 25px;
  color: #f5f5f5;
}
body footer #forma #f1 {
  margin-top: 20px;
}
body footer #forma #f1 input[type=text] {
  width: 60%;
  font-size: 30px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
}
body footer #forma #f1 input[type=email] {
  width: 60%;
  font-size: 30px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
}
body footer #forma #f1 textarea {
  width: 60%;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 20px;
}
body footer #forma #f1 input[type=submit] {
  width: 60%;
  font-size: 30px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  color: rgb(26, 102, 20);
  border: none;
}
body footer #forma #f1 input[type=submit]:hover {
  background-color: rgb(26, 102, 20);
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
}
body footer #forma #f1 label {
  font-size: 30px;
}
body footer #informacije {
  width: 45%;
  height: 90%;
  margin-top: 25px;
  text-align: center;
  color: #f5f5f5;
}
body footer #informacije h2 {
  font-size: 35px;
  margin-top: 12px;
}
body footer #informacije p {
  font-size: 30px;
}
body footer #informacije ul li {
  display: inline;
}
body footer #informacije ul li a {
  text-decoration: none;
  font-size: 50px;
  margin: 0px 10px;
  color: #f5f5f5;
}
body footer #informacije ul li a:hover {
  color: rgb(26, 102, 20);
}

@media screen and (max-width: 1601px) {
  body footer #forma #f1 input[type=text] {
    width: 80%;
  }
  body footer #forma #f1 input[type=email] {
    width: 80%;
  }
  body footer #forma #f1 textarea {
    width: 80%;
  }
  body footer #forma #f1 input[type=submit] {
    width: 80%;
  }
  body header {
    grid-template-columns: 180px 150px 100px 1fr 800px 50px;
  }
}
@media screen and (max-width: 1441px) {
  body #pozadina #bela {
    grid-template-rows: 35% 120px 20px 120px 20px 1fr 20px;
  }
  body #aboutMe #tab1 {
    width: 30%;
  }
  body #aboutMe #tab2 {
    width: 30%;
  }
  body #aboutMe #slikaA {
    width: 35%;
  }
}
@media screen and (max-width: 1281px) {
  body header {
    grid-template-columns: 50px 150px 100px 1fr 800px 0px;
  }
  body #pozadina #bela h1 {
    font-size: 75px;
  }
  body #pozadina #bela h2 {
    font-size: 65px;
  }
  body #skills #bela2 #info .infoCard .fa-solid {
    margin-top: 35px;
    font-size: 95px;
  }
  body #skills #bela2 #info .infoCard .fa-brands {
    margin-top: 35px;
    font-size: 95px;
  }
  body #skills #bela2 #info .infoCard h2 {
    font-size: 35px;
  }
  body #skills #bela2 #info .infoCard p {
    font-size: 27px;
  }
}
@media screen and (max-width: 1025px) {
  body header {
    grid-template-columns: 30px 150px 100px 1fr 600px 0px;
  }
  body header nav ul li {
    margin-right: 50px;
    margin-left: 10px;
  }
  body header nav ul li a {
    font-size: 25px;
  }
  body #pozadina #bela {
    grid-template-rows: 30% 120px 20px 120px 20px 1fr 20px;
  }
  body #aboutMe {
    justify-content: space-around;
  }
  body #aboutMe #tab1 {
    display: none;
  }
  body #aboutMe #tab2 {
    display: none;
  }
  body #aboutMe #tab3 {
    display: block;
    width: 45%;
    height: 100%;
  }
  body #aboutMe #tab3 table {
    margin-top: 30%;
  }
  body #aboutMe #tab3 table tr th {
    width: 50%;
  }
  body #aboutMe #tab3 p {
    font-size: 35px;
    color: rgba(26, 122, 18, 0.8);
  }
  body #aboutMe #tab3 h2 {
    font-size: 38px;
    color: rgb(26, 102, 20);
  }
  body #aboutMe #tab3 .donji {
    padding-bottom: 20px;
  }
  body #aboutMe #slikaA {
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 50px 1fr 50px;
  }
  body #aboutMe #slikaA #naslovA {
    display: none;
  }
  body .razmak #RnaslovA {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
  body .razmak #RnaslovA h1 {
    font-size: 50px;
    color: rgba(26, 122, 18, 0.8);
  }
  body #projects {
    height: 1200px;
    text-align: center;
    grid-template-rows: 50px 30px 1fr 50px;
  }
  body #projects #project {
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  body #projects #project .proj {
    width: 45%;
    height: 45%;
  }
  body #projects #project .proj .slikaP {
    width: 100%;
    height: 70%;
    border-radius: 20px;
  }
  body #projects #project .proj .slikaP img {
    width: 98%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #704214;
  }
  body footer #informacije #footNav .fejs {
    display: none;
  }
}
@media screen and (max-width: 811px) {
  body header {
    grid-template-columns: 30px 150px 100px 1fr 450px 0px;
  }
  body header nav ul li {
    margin-right: 25px;
    margin-left: 10px;
  }
  body header nav ul li a {
    font-size: 22px;
  }
  body #pozadina #bela {
    grid-template-rows: 20% 120px 20px 120px 50px 1fr 20px;
  }
  body #pozadina #bela h1 {
    font-size: 60px;
  }
  body #pozadina #bela h2 {
    font-size: 52px;
  }
  body #aboutMe #slikaA {
    width: 48%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
  }
  body #aboutMe #slikaA #autorA {
    grid-area: 2/1/3/2;
    background-image: url("../slike/Autor.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 15px;
  }
  body #skills {
    height: 800px;
  }
  body #skills #bela2 #info {
    flex-wrap: wrap;
  }
  body #skills #bela2 #info .infoCard {
    width: 45%;
    height: 45%;
  }
  body #skills #bela2 #info .infoCard .fa-solid {
    font-size: 65px;
  }
  body #skills #bela2 #info .infoCard h2 {
    font-size: 30px;
  }
  body #skills #bela2 #info .infoCard p {
    font-size: 25px;
  }
  body #projects {
    height: 1800px;
  }
  body #projects #project .proj {
    width: 90%;
    height: 32%;
  }
  body footer {
    flex-wrap: wrap;
    height: 1100px;
  }
  body footer #forma {
    width: 90%;
    height: 45%;
  }
  body footer #informacije {
    width: 90%;
    height: 45%;
  }
}
@media screen and (max-width: 410px) {
  body header {
    height: 400px;
    grid-template-columns: 5px 30% 1fr 30% 5px;
    grid-template-rows: 10px 20% 10px 1fr 10px;
  }
  body header #ikonica {
    grid-area: 2/3/3/4;
    padding: 10px 0px 10px 45px;
  }
  body header nav {
    grid-area: 4/3/5/4;
  }
  body header nav ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
  }
  body header nav ul li {
    width: 98%;
    height: 24%;
  }
  body header nav ul li a {
    margin-left: 15px;
  }
  body #pozadina {
    height: 700px;
  }
  body #pozadina #bela {
    grid-template-rows: 80px 120px 20px 120px 50px 1fr 20px;
    grid-template-columns: 50px 1fr 50px;
  }
  body #pozadina #bela h1 {
    font-size: 50px;
  }
  body #pozadina #bela h2 {
    font-size: 37px;
  }
  body #aboutMe {
    height: 650px;
    flex-wrap: wrap;
  }
  body #aboutMe #slikaA {
    width: 90%;
    height: 48%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  body #aboutMe #slikaA #autorA {
    grid-area: 1/1/2/2;
  }
  body #aboutMe #tab3 {
    width: 90%;
    height: 48%;
  }
  body #aboutMe #tab3 table {
    margin-top: 8%;
  }
  body #aboutMe #tab3 table tbody tr th h2 {
    font-size: 28px;
  }
  body #aboutMe #tab3 table tbody tr th p {
    font-size: 30px;
  }
  body #skills {
    height: 1500px;
  }
  body #skills #bela2 #info {
    flex-wrap: wrap;
  }
  body #skills #bela2 #info .infoCard {
    width: 90%;
    height: 24%;
  }
  body #skills #bela2 #info .infoCard .fa-solid {
    font-size: 65px;
  }
  body #skills #bela2 #info .infoCard h2 {
    font-size: 30px;
  }
  body #skills #bela2 #info .infoCard p {
    font-size: 25px;
  }
}
@media screen and (max-width: 374px) {
  body header {
    height: 400px;
    grid-template-columns: 5px 20% 1fr 20% 5px;
    grid-template-rows: 10px 20% 10px 1fr 10px;
  }
  body header #ikonica {
    grid-area: 2/3/3/4;
    padding: 2px 0px 2px 64px;
  }
  body header nav {
    grid-area: 4/3/5/4;
  }
  body header nav ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
  }
  body header nav ul li {
    width: 98%;
    height: 24%;
  }
  body header nav ul li a {
    margin-left: 15px;
  }
  body footer #informacije {
    margin-top: 0px;
  }
  body footer #informacije #email {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */